:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

@font-face {
  font-family: Figtree;
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* General styling */

body {
  background-color: var(--Yellow);
  font-family: Figtree;
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1.5;
  color: var(--Grey);
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  margin: 1rem;
  color: var(--Black);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  max-width: 20.4rem;
  border-radius: 20px;
  background-color: var(--White);
  box-shadow: 8px 8px var(--Black);
  border: 1px solid var(--Black);
  margin: 1.5rem;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover,
.card:focus {
  box-shadow: 16px 16px var(--Black);
}

.card-content {
  margin: 1.5rem;
}

.card-content__text {
  margin-block: 1.5rem;
  display: grid;
  justify-items: start;
  gap: 0.75rem;
}

.card-content img {
  border-radius: 10px;
}

.card-content p.category {
  display: inline;
  background-color: var(--Yellow);
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 800;
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  color: var(--Black);
}

.card-content p.date {
  color: var(--Black);
  font-weight: 500;
  font-size: clamp(0.75rem, 2vw, 0.875rem);
}

.card-content h1 {
  font-weight: 800;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  transition: color 0.3s ease;
  color: var(--Black);
}

.card-content h1:hover {
  color: var(--Yellow);
  cursor: pointer;
}

.card-content .author {
  display: flex;
  align-items: center;
}

.card-content .author img {
  max-width: 32px;
}

.card-content .author p.name {
  font-weight: 800;
  padding: 0 12px;
  color: var(--Black);
  font-size: 0.875rem;
}

@media screen and (min-width: 50em) {
  .card {
    max-width: 24rem;
  }
}
